*.db linguist-language=SQL
*.sql linguist-language=SQL
*.png linguist-language=SQL
*.pxd linguist-language=python
*.c linguist-language=python
*.h linguist-language=python
*.tex linguist-language=python